<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>🛍️ Мини-магазин</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
    <h1>🛒 Mini Shop</h1>
</header>

<main>
    <section class="form-section">
        <h2>➕ Добавить / обновить товар</h2>
        <input type="number" id="id" placeholder="ID (для обновления)"  readonly/>
        <input type="text" id="name" placeholder="Название товара" />
        <input type="number" id="price" placeholder="Цена" />
        <input type="text" id="image" placeholder="Ссылка на изображение" />
        <button onclick="addOrUpdateProduct()">Сохранить</button>
    </section>

    <section class="product-grid" id="productList">
    </section>
</main>

<footer>
    <p>&copy; 2025 Mini Shop</p>
</footer>

<script src="/static/script.js"></script>
</body>
</html>
